
.content {
    font-size: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}
.item {
    border: 1px solid #000;
    min-height: 100px;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 3.2rem;
}

@media (max-width: 991px) {
    .content {
        grid-template-columns: repeat(3, 1fr);
        min-height: 100vh;
    }
    h1 {
    font-size: 3.2rem;
}
    h2 {
        font-size: 2rem;
}
}

@media (max-width: 767px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
    }
    .item {
        min-height: 33vh
    }
}
.center {
    padding-left: calc(50% - 540px);
    padding-right: calc(50% - 540px);
}
.content1 {
    font-size: 20px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 10px;
}
.item1 {
    border: 1px solid #000;
    min-height: 100px;
}